<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.eansoft.board.employee.domain.Employee" alias="Employee"></typeAlias>
		<typeAlias type="com.eansoft.board.board.domain.Board" alias="Board"></typeAlias>
		<typeAlias type="com.eansoft.board.board.domain.BoardFile" alias="BoardFile"></typeAlias>
		<typeAlias type="com.eansoft.board.board.domain.BoardType" alias="BoardType"></typeAlias>
		<typeAlias type="com.eansoft.board.board.domain.Reply" alias="Reply"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
	</mappers>
</configuration>