<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<id property="boardNo" column="BOARD_NO" />
		<result property="emplId" column="EMPL_ID" />
		<result property="boardType" column="BOARD_TYPE" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContents" column="BOARD_CONTENTS" />
		<result property="boardWriteDate" column="BOARD_WRITE_DATE" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="boardFileCount" column="BOARD_FILE_COUNT" />
		<result property="boardWriteType" column="BOARD_WRITE_TYPE" />
		<collection property="fList" column="BOARD_NO" javaType="java.util.ArrayList" ofType="BoardFile" select="selectBoardFiles"></collection>
	</resultMap>
	
	<resultMap type="BoardFile" id="boardFileResultMap">
		<id property="fileNo" column="FILE_NO" />
		<result property="boardNo" column="BOARD_NO" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileExtension" column="FILE_EXTENSION" />
		<result property="fileRename" column="FILE_RENAME" />
		<result property="filePath" column="FILE_PATH" />
		<result property="emplId" column="EMPL_ID" />
	</resultMap>
	
	<resultMap type="Reply" id="replyResultMap">
		<id property="replyNo" column="REPLY_NO" />
		<result property="boardNo" column="BOARD_NO" />
		<result property="parentReplyNo" column="PARENT_REPLY_NO" />
		<result property="replyOrder" column="REPLY_ORDER" />
		<result property="replyDepth" column="REPLY_DEPTH" />
		<result property="emplId" column="EMPL_ID" />
		<result property="replyContents" column="REPLY_CONTENTS" />
		<result property="replyWriteDate" column="REPLY_WRITE_DATE" />
	</resultMap>
	
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL
	</select>
	
	<select id="selectBoard" resultMap="boardResultMap">
		SELECT B.BOARD_NO, B.EMPL_ID, B.BOARD_TYPE, BOARD_TITLE, BOARD_CONTENTS, BOARD_WRITE_DATE, BOARD_COUNT, BOARD_WRITE_TYPE, NVL(CNT,0) AS BOARD_FILE_COUNT
	    FROM BOARD_TBL B JOIN BOARD_TYPE_TBL D ON(B.BOARD_TYPE = D.BOARD_TYPE)
	    LEFT OUTER JOIN (SELECT F.BOARD_NO, COUNT(FILE_NO) AS CNT FROM BOARD_FILE_TBL F GROUP BY F.BOARD_NO) C
	    ON(B.BOARD_NO = C.BOARD_NO)
	    ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectSearchCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL WHERE
		<if test="searchCondition.toString() =='title'">
  			BOARD_TITLE LIKE '%' || #{searchValue} || '%'
  		</if>
		<if test="searchCondition.toString() =='contents'">
  			BOARD_CONTENTS LIKE '%' || #{searchValue} || '%'
  		</if>
		<if test="searchCondition.toString() =='writer'">
  			EMPL_ID LIKE '%' || #{searchValue} || '%'
  		</if>
	</select>
	
	<select id="selectOneByNo" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="selectBoardFiles" resultMap="boardFileResultMap">
		SELECT * FROM BOARD_FILE_TBL WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="searchBoard" resultMap="boardResultMap">
		SELECT B.BOARD_NO, B.EMPL_ID, B.BOARD_TYPE, BOARD_TITLE, BOARD_CONTENTS, BOARD_WRITE_DATE, BOARD_COUNT, BOARD_WRITE_TYPE, NVL(CNT,0) AS BOARD_FILE_COUNT
	    FROM BOARD_TBL B JOIN BOARD_TYPE_TBL D ON(B.BOARD_TYPE = D.BOARD_TYPE)
	    LEFT OUTER JOIN (SELECT F.BOARD_NO, COUNT(FILE_NO) AS CNT FROM BOARD_FILE_TBL F GROUP BY F.BOARD_NO) C
	    ON(B.BOARD_NO = C.BOARD_NO) WHERE
		<if test="searchCondition.toString() =='title'">
  			BOARD_TITLE LIKE '%' || #{searchValue} || '%'
  		</if>
		<if test="searchCondition.toString() =='contents'">
  			BOARD_CONTENTS LIKE '%' || #{searchValue} || '%'
  		</if>
		<if test="searchCondition.toString() =='writer'">
  			EMPL_ID LIKE '%' || #{searchValue} || '%'
  		</if>
  		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectAllReply" resultMap="replyResultMap">
		SELECT * FROM REPLY_TBL WHERE BOARD_NO = #{boardNo}
		ORDER BY PARENT_REPLY_NO, REPLY_ORDER
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO
		REPLY_TBL
		VALUES(REPLY_NO_SEQ.NEXTVAL, #{boardNo}, REPLY_NO_SEQ.CURRVAL, 0, 0, #{emplId}, #{replyContents}, DEFAULT)
	</insert>
	
	<insert id="insertReReply" parameterType="Reply">
		INSERT INTO
		REPLY_TBL
		VALUES(REPLY_NO_SEQ.NEXTVAL, #{boardNo}, #{parentReplyNo}, (SELECT MAX(REPLY_ORDER)+1 FROM REPLY_TBL WHERE PARENT_REPLY_NO = #{parentReplyNo}), 1, #{emplId}, #{replyContents}, DEFAULT)
	</insert>
	
	<insert id="boardRegister" parameterType="Board">
		INSERT INTO
		BOARD_TBL
		VALUES(BOARD_NO_SEQ.NEXTVAL, #{emplId}, #{boardType}, #{boardTitle}, #{boardContents}, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="saveFile" parameterType="BoardFile">
		INSERT INTO
		BOARD_FILE_TBL
		VALUES(FILE_NO_SEQ.NEXTVAL, BOARD_NO_SEQ.CURRVAL, #{fileName}, #{fileExtension}, #{fileRename}, #{filePath}, #{emplId})
	</insert>
	
	<update id="updateCount">
		UPDATE BOARD_TBL SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateReply">
		UPDATE REPLY_TBL SET REPLY_CONTENTS = #{replyContents} WHERE REPLY_NO = #{replyNo}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<delete id="deleteReply">
		DELETE FROM REPLY_TBL WHERE REPLY_NO = #{replyNo}
	</delete>
</mapper>